In [15]:
import pandas as pd

In [16]:
import numpy as np

In [17]:
# Объекты series библеотеки pandas
data=pd.Series([0.25,0.5,0.75,1.0])
data
print(data.values)
print(data.index)
print(data[1])
data1=pd.Series([0.25,5.4,9],index=['a','b','c'])
print (data1)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)
0.5
a    0.25
b    5.40
c    9.00
dtype: float64

In [18]:
population_dict = {'California': 38332521,  
                   'Texas': 26448193,                      
                   'New York': 19651127,                    
                   'Florida': 19552860,                     
                   'Illinois': 12882135}  
population = pd.Series(population_dict)    
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [19]:
area_dict = {'California': 423967, 
             'Texas': 695662, 
             'New York': 141297,           
             'Florida': 170312,
             'Illinois': 149995} 
area=pd.Series(area_dict)

In [20]:
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [21]:
states= pd. DataFrame({'population':population,'area':area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [22]:
#жеска
states.index
pd.DataFrame(population,columns=['po'])
data = [{'a':i+1,'b':20*(i+1)}for i in range(30)]
pd.DataFrame(data)

data1=pd.DataFrame(np.random.rand(3,2),columns=['bib','ba'],index=[1.0,2,3])
data1

          bib        ba
1.0  0.144239  0.531625
2.0  0.278155  0.729738
3.0  0.765753  0.023487

In [23]:
#Создание обьектов
data1=pd.DataFrame(np.random.rand(3,2),columns=['bib','ba'],index=[1.0,2,3])data1

          bib        ba
1.0  0.585320  0.903445
2.0  0.474920  0.342327
3.0  0.658254  0.945591

In [24]:
A=np.zeros(30,dtype=[('A','i8'),('b','f8')])
A

array([(0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.),
       (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.),
       (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.),
       (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.),
       (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('b', '<f8')])

In [25]:
pd.DataFrame(A)

    A    b
0   0  0.0
1   0  0.0
2   0  0.0
3   0  0.0
4   0  0.0
5   0  0.0
6   0  0.0
7   0  0.0
8   0  0.0
9   0  0.0
10  0  0.0
11  0  0.0
12  0  0.0
13  0  0.0
14  0  0.0
15  0  0.0
16  0  0.0
17  0  0.0
18  0  0.0
19  0  0.0
20  0  0.0
21  0  0.0
22  0  0.0
23  0  0.0
24  0  0.0
25  0  0.0
26  0  0.0
27  0  0.0
28  0  0.0
29  0  0.0

In [26]:
data = pd.Series([0.25,0.5,0.75,1],index=['a','b','c','d'])
'a'in data

True

In [27]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [28]:
a={1:2}
dict(data.items())

{'a': 0.25, 'b': 0.5, 'c': 0.75, 'd': 1.0}

In [29]:
data['e']=1.25

In [30]:
data.iloc[1:3]
data.iloc[1]

0.5

In [31]:
data=pd.DataFrame({'area':area,'pop':population})

In [32]:
data['density']=data['pop']/data['area']

In [33]:
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [34]:
data.loc[data.area>400000,['pop']]

                 pop
California  38332521
Texas       26448193

In [47]:
import pandas as pd
index=pd.MultiIndex.from_product([[2013,2014],[1,2]],
                                 names=['year','visit'])
colums=pd.MultiIndex.from_product([['Bob','Guido','Sue'],['Hr','temp']],
                                  names=['subject','type'])
data=np.round(np.random.rand(4,6),1)

data[:,::2]*=10
data+=37
he=pd.DataFrame(data,index=index,columns=colums)
he

subject      Bob       Guido         Sue
type          Hr  temp    Hr  temp    Hr  temp
year visit
2013 1      43.0  37.3  42.0  37.5  41.0  37.8
     2      41.0  37.6  39.0  37.1  42.0  37.9
2014 1      41.0  37.5  46.0  37.5  44.0  37.5
     2      38.0  37.3  44.0  37.3  42.0  37.9

In [62]:
#Небольшая пауза
r=pd.Series(np.random.randint(0,1000,100000))
r.head
np.sum(r)

49926381

In [90]:
np.random.RandomState(2)
u=pd.DataFrame(np.random.rand(2,3),index=[1,2],columns=['yy','ii','oo'])
u

         yy        ii        oo
1  0.290383  0.625769  0.183952
2  0.350220  0.734215  0.920832

ModuleNotFoundError: No module named 'scv'