In [5]:
import pandas as pd

In [3]:
import numpy as np

(12+2j)

In [16]:
# Объекты series библеотеки pandas
data=pd.Series([0.25,0.5,0.75,1.0])
data
print(data.values)
print(data.index)
print(data[1])
data1=pd.Series([0.25,5.4,9],index=['a','b','c'])
print (data1)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)
0.5
a    0.25
b    5.40
c    9.00
dtype: float64

In [17]:
population_dict = {'California': 38332521,  
                   'Texas': 26448193,                      
                   'New York': 19651127,                    
                   'Florida': 19552860,                     
                   'Illinois': 12882135}  
population = pd.Series(population_dict)    
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [19]:
area_dict = {'California': 423967, 
             'Texas': 695662, 
             'New York': 141297,           
             'Florida': 170312,
             'Illinois': 149995} 
area=pd.Series(area_dict)

In [20]:
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [26]:
states= pd. DataFrame({'population':population,'area':area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [49]:
#жеска
states.index
pd.DataFrame(population,columns=['po'])
data = [{'a':i+1,'b':20*(i+1)}for i in range(30)]
pd.DataFrame(data)

data1=pd.DataFrame(np.random.rand(3,2),columns=['bib','ba'],index=[1.0,2,3])
data1

          bib        ba
1.0  0.124497  0.965190
2.0  0.892264  0.669859
3.0  0.497613  0.108813

In [50]:
#Создание обьектов
data1=pd.DataFrame(np.random.rand(3,2),columns=['bib','ba'],index=[1.0,2,3])
data1

          bib        ba
1.0  0.520234  0.493776
2.0  0.333067  0.159097
3.0  0.121260  0.387035

In [51]:
A=np.zeros(=,dtype=[('A','i8'),('b','f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('b', '<f8')])

In [52]:
pd.DataFrame(A)

   A    b
0  0  0.0
1  0  0.0
2  0  0.0