In [5]:
import pandas as pd

In [3]:
import numpy as np

(12+2j)

In [16]:
# Объекты series библеотеки pandas
data=pd.Series([0.25,0.5,0.75,1.0])
data
print(data.values)
print(data.index)
print(data[1])
data1=pd.Series([0.25,5.4,9],index=['a','b','c'])
print (data1)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)
0.5
a    0.25
b    5.40
c    9.00
dtype: float64

In [17]:
population_dict = {'California': 38332521,  
                   'Texas': 26448193,                      
                   'New York': 19651127,                    
                   'Florida': 19552860,                     
                   'Illinois': 12882135}  
population = pd.Series(population_dict)    
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [19]:
area_dict = {'California': 423967, 
             'Texas': 695662, 
             'New York': 141297,           
             'Florida': 170312,
             'Illinois': 149995} 
area=pd.Series(area_dict)

In [20]:
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [26]:
states= pd. DataFrame({'population':population,'area':area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [31]:
#жеска
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')